html, body {
    background-color: #141414
}

a {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}
a:hover {
    color: #B81BE0;
}

#main {
    overflow: hidden;
    min-height: 0;
}

#algorithms {
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 0;
}


#nav {
    background-color: #B81BE0
}

.resize-handle {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 8px;
  cursor: col-resize;
  z-index: 10;
}

.resize-handle.right {
  right: -4px;
}

.resize-handle.left {
  left: -4px;
}

/*.resize-handle:hover {
  background-color: rgba(255, 255, 255, 0.25);
}*/
#accordItem {
    background-color: #141414
}
#accordBtn {
    color: white; 
    background-color: #141414 !important
}

#accordBtn::after {
  filter: brightness(0) invert(1);
}

.accordion,
.accordion-item,
.accordion-button,
.accordion-body {
  border: none !important;
  box-shadow: none !important;
}

.accordion-body {
    padding: 0 !important;
}

.accordion-button:focus {
  box-shadow: none;
}

#algsList {
    color: white;
    background-color: #101010;
}
.list-group-flush, .list-group-item {
    border: none !important;
}



.sorting-visualizer {
    width: 100%;
    flex: 1;
    min-height: 0;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    gap: 4px;
    padding: 20px;

    box-sizing: border-box;
    overflow: hidden;
}

.visualization-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.speed-control {
    display: flex;
    align-items: center;
    gap: 8px;
}

.speed-control input {
    width: 120px;
}

.bar-container {
    height: 100%;
    flex: 1;

    max-width: 50px;
    min-width: 2px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.bar-value {
    flex-shrink: 0;

    margin-bottom: 4px;

    font-size: 12px;
    color: white;

    white-space: nowrap;
}

.bar {
    width: 100%;

    background-color: #B81BE0;

    border-radius: 4px 4px 0 0;

    transition:
        height 0.2s ease,
        transform 0.2s ease,
        background-color 0.2s ease;
}

.bar-container.compare .bar {
    background-color: white;
}

.bar-container.swap .bar, .bar-container.shift .bar {
    background-color: #ffcc00;
    transform: translateY(-10px);
}

.bar-container.insert .bar {
    background-color: #00ff00;
}

.bar-container.overwrite .bar {
    background-color: aquamarine
}